.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 20px 0;
  }
  
  .SearchBar input {
    width: 300px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
  }
  
  .SearchBar input:focus {
    outline: none;
    border-color: #1DB954;
    box-shadow: 0 0 5px rgba(29, 185, 84, 0.5);
  }
  
  .SearchButton {
    background-color: #1DB954;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .SearchButton:hover {
    background-color: #14833b;
  }
  
  .SearchButton:active {
    background-color: #0e5f27;
  }